### Map Function
The map function applies a given function to all items in a input list and return a map object,Used to transform data in alist comprehensively.

In [1]:
def square(x):
    return x*x
square(4)

16

In [4]:
numbers=[1,2,3,4,5,6,7,8,121]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 14641]

In [5]:
## Lambda Funtion using map
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 14641]

In [8]:
## Map Multiple Iterable
number1=[1,2,3]
number2=[5,6,7]
added_no=list(map(lambda x,y:x+y,number1,number2))
print(added_no)

[6, 8, 10]

In [1]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [2]:
def get_name(person):
    return person['name']
    
people=[
    {'name':'krish','age':18},
    {'name':'Jack','age':22}
]
list(map(get_name,people))

['krish', 'Jack']